* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  line-height: 2.8rem;
}

/* APP */
.app {
  background-color: #f5f5f4;
  padding: 1.2rem;

  display: flex;
  flex-direction: column;
  gap: 4rem;
}

/* SECTION-1 */
.section-1,
.section-2,
.section-3,
.section-4,
.section-5,
.section-6 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#touch-btn,
#linkedin-btn {
  width: auto;
  height: auto;
  margin: 0;
  padding: 1rem;

  border: none;
  border-radius: 50%;
  /* border-radius: 9999px; */
  background-color: #23ac0b;
  /* color: #4a5568; */
  font-size: 1.8rem;
  font-weight: 600;

  cursor: pointer;

  /* Defina as propriedades de exibição, posicionamento e z-index */
  display: inline-flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  right: 4rem;

  /* Adicione efeitos de transição para uma animação suave */
  /* transition: background-color 0.3s ease, color 0.3s ease;  */

  img {
    min-width: 2.4rem;
    min-height: 2.4rem;
    /*margin-right: 8px; /* Pode ajustar a margem conforme necessário */
  }
}

/* #touch-btn:hover {
  background-color: #73eb5e; 
  color: #000000;
} */

#touch-btn p {
  display: none;
}

#touch-btn span {
  /* Defina as propriedades de alinhamento, transformação e visibilidade */
  /* display: block;
  transform: translateY(100%);
  visibility: hidden; */
}

/* Estilização do botão quando está em estado de foco ou ativo */
#touch-btn:focus,
#touch-btn:active {
  outline: none; /* Remove a borda de foco padrão */
}

#profile-img {
  max-width: 100%;
  height: auto;

  aspect-ratio: 16/9; /* PROPORÇÃO da img*/
  object-fit: cover;

  border-radius: 1.6rem;

  /* transition: all 300ms ease-out; */
}

h1 {
  font-size: 4.2rem;
  line-height: 3.6rem;
}

.section-1 p {
  font-weight: 500;
  line-height: 2.4rem;
}

/* SECTION-2 */
h2 {
  font-size: 2.8rem;

}

#linkedin-btn {
  position: inherit;

  background-color: white;
  color: #4a5568;
  border-radius: 9999px;

  margin-top: 2rem;

  img {
    min-width: 2.4rem;
    min-height: 2.4rem;
    margin-right: 0.8rem;
  }
}

#linkedin-btn:hover {
  background-color: #73eb5e;
  color: #000000;
}

/* SECTION-3 */
.gallery {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  gap: 2rem;
}

.item {
  background-color: var(--color-base-white);
  border-radius: 0.8rem;

  overflow: hidden; /* Ajusta a img c/ borda da caixa*/

  /* --delay: .4s;
  animation: appear 2s var(--delay) backwards; backwards puxa as definições do início da animação para o item. Como há o delay, as img já comecam do ponto menor e depois aumentam */
}

.item img {
  width: 100%;

  aspect-ratio: 16/9; /* PROPORÇÃO da img*/
  object-fit: cover;

  /* TRANSITIONS
  transition-property: transform, filter;  Define em qual propriedade aplicaremos a transição! "all" define q todas propriedades receberão a transição.
  transition-duration: 300ms;  Tempo da transição 
  transition-delay: 0;  Tempo p/ iniciar a transição 
  transition-timing-function: ease-out;  relação entre tempo x velocidade da transição
  */

  /* OU TRANSITIONS no shorthand: */
  transition: all 300ms ease-out;

  display: block; /* P/ tirar o espacinho entre img e details criado pelo user agent*/
}

.item img:hover {
  filter: hue-rotate(7deg) contrast(101%) saturate(200%);
  transform: scale(1.1) rotate(-2deg);
}

.details {
  padding: 2.2rem;
}

.details h2 {
  font-size: 1.8rem;
}

.tags {
  margin-top: 1.2rem;
}

.tags span {
  padding: 0.6rem;
  background-color: var(--color-base-gray-100);
  border-radius: 0.4rem;

  line-height: 0;
  font-size: 1.2rem;
  text-transform: uppercase;
}

/* SECTION-4 */
h3 {
  margin: 2rem 0rem;
}

.stacks-elements {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.section-4 span {
  margin: 1rem;
  padding: 0.4rem 2rem;

  background-color: white;
  border-radius: 9999px;

  font-weight: 600;
  line-height: 3.6rem;
}

/* SECTION-5 */
.award-info {

}
